@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;

  --primary: #f0d784;
  --secondary: #ad8915;
  --thirdary: #caac54;
  --fourthary: #262626;
  --fivethary: #f9e7c1;

  --gradient-primary: linear-gradient(135deg, var(--secondary), var(--primary), var(--thirdary));
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-thirdary: var(--thirdary);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --font-jura: var(--font-jura);
}

@layer utilities {
  .text-primary-gradient {
    background: var(--gradient-primary);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
  }
}

html {
  scroll-behavior: smooth;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #262626;
    --foreground: #ededed;
  }
}

.text-outline-gold {
  color: transparent;
  -webkit-text-stroke: 1px var(--primary);
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-jura), sans-serif;
}
